@charset "utf-8";
@media screen, handheld
{
	body
	{
		background-color: #fff;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		color: #333;
		min-width: 400px;
		min-height: 400px;
	}
	
	h1,h2,h3,h4,h5,h6
	{
		font-weight: bold;
		font-size: 14px;
		color: #333;
	}
	
	a
	{
		color: #c00;
	}
	
	input
	{
		width: 100%;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	
	.app
	{
		width: 90%;
		max-width: 40em;
	}
	
	.eye img
	{
		width: 2em;
		height: 2em;
	}
	
	.output
	{
		background-color: #ccc;
		margin-top: 2em;
	}
	
	.virtual-keyboard
	{
		width: 20em;
	}
	
	.virtual-keyboard button
	{
		width: 2em;
		height: 2em;
		vertical-align: middle;
	}
	
	#status
	{
		background: #f00;
		color: #fff;
	}
}